<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>about.md</key>
			<dict>
				<key>lastModification</key>
				<real>537473039.59226501</real>
				<key>version</key>
				<dict>
					<key>dd7a1cd13443316dfa42a74c1a3b34d99cc0fe39c0c651568cbeac98d615df86</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>graphical-models.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>537473117.40891695</real>
				<key>lastModification</key>
				<real>537473117.40891695</real>
				<key>version</key>
				<dict>
					<key>dd7a1cd13443316dfa42a74c1a3b34d99cc0fe39c0c651568cbeac98d615df86</key>
					<integer>7</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>graphical-models.md</string>
		</array>
		<array>
			<string>about.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>dd7a1cd13443316dfa42a74c1a3b34d99cc0fe39c0c651568cbeac98d615df86</key>
			<integer>7</integer>
		</dict>
	</dict>
</dict>
</plist>
